<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
<!-- spring bean 설정 파일 -->

<import resource="db.xml"/>
<context:component-scan base-package="com.mybatis.service"/>
<context:component-scan base-package="com.mybatis.dao"/>


<!-- SqlSessionFactory, SqlSession -->
<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="dataSource" ref="ds"/>
	<property name="typeAliasesPackage" value="com.mybatis.vo"/>
	<property name="mapperLocations">
		<list>
			<value>classpath:config/CustomerMapper.xml</value>
			<value>classpath:config/BoardMapper.xml</value>
		</list>
	</property>
<!-- 	<property name="configLocation" value="classpath:config/Configuration.xml"/> -->
</bean>

<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
	<constructor-arg ref="sqlSessionFactory"/>
</bean>

<!-- transactionManager 생성 : jdbc직접 사용하거나 mybatis 사용시에 tx 관리자는 DataSourceTransactionManager임 -->
<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	<property name="dataSource" ref="ds"/>
</bean>
<tx:annotation-driven transaction-manager="tm"/><!-- @Transactional이 활성화됨 -->
</beans>
