<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- spring bean 설정 파일 : CONTAINVER가 읽어서 객체를 생성해 줌 -->
<bean id="bean2" class="com.sample3.MessageBeanKO"/>
<bean id="bean1" class="com.sample3.MessageBeanEN" scope="prototype"/>
</beans>
