<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 생성자로 -->
<bean id="bean1" class="com.di.MessageBeanEN">
	<constructor-arg name="num" value="123"/>
	<constructor-arg index="1" value="tommy lee jones"/>
	<property name="address" value="seoul"/>
	<property name="truck" ref="t1"/>
</bean>

<!-- setter로 호출 setNum, setName -->
<bean id="bean2" class="com.di.MessageBeanKO">
	<property name="num" value="567"/>
	<property name="name" value="harry potter"/>
	<constructor-arg name="city" value="london"/>
	<!-- <property name="truck" ref="t2"/> -->
	<property name="truck">
		<bean class="com.di.Truck"/>
	</property>
</bean>

<bean id="t1" class="com.di.Truck"/>
<bean id="t2" class="com.di.Truck"/>

</beans>
